*{
    padding : 0;
    margin : 0;
    box-sizing: border-box ;
}
body{
    font-family: 'Comic Neue', cursive;
    background: linear-gradient(grey,blue);
}
header {
    height: 600px;
    background: linear-gradient(white,blue,rgb(96, 96, 224));
    display:flex;
    flex-direction: column;
    
}
.box{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.titulo{
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: 'Bayon', sans-serif;
    color:rgb(233, 233, 17);
}
.loge{
    display:flex;
    margin-top: 30px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

.caja{
    width: 100%;
    gap: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    text-transform: uppercase;
    color: yellow;
    font-weight: bold;
    font-family:'Comic Neue', cursive ;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(6, 6, 47);
    
}
nav a:hover{
    color: #c78c19;
    text-decoration: under;
}

img{
    display: flex;
    width: 80%;
    height: 40vh;
    transition: 400ms;
    box-shadow: 10px 10px 15px black;
    object-fit: cover;
}
img:hover{
    opacity: 0.8;
}
.titulo_secundario{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family:'Comic Neue', cursive;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
.fecha{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 700px;
    margin-top: 40px;
    
}
.fecha h3{
    font-size: 1.5em;
    font-weight: bold;
}
.fecha h3:before{
        content: "★";
    }
.fecha p{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}
.fecha p:hover{
    font-weight: bold;
}
img.hockey{
    display:flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
    /*transition: 400ms;
    transform:translateX(300px);*/
    box-shadow: 10px 10px 15px #000000;
    transition: width 2s, height 4s;

}

.hockey:hover{
    opacity: 0.3;
    width: 300px;
    height: 300px;
}


/*css para about*/

.logos{
    margin-left: 50px;
    margin-bottom: 150px;
   
}
.containers{
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.informacion{
    display: flex;
    width: 630px;
    margin-left: 200px;
    margin-right: 40px;
    margin-top: 40px;

    
}
.informacion h3{
    font-size: 1em;
    font-weight: bold;
}
.informacion p{
    font-size: 1em;
    color:#c78c19;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    gap:10px;
}
.informacion p:hover{
    font-weight: bold;
}
.hockeys{
    width: 600px;
    height: 250px;
    margin-bottom:50px;
    margin-left: 700px;
    transition: 400ms;
    box-shadow: 10px 10px 15px #000000

}

.hockeys:hover{
    opacity: 0.3;
}
/*css para contac*/
.contenedor{
    display: flex;
    
}
.logo_s{

    margin-left: 30px;
    margin-bottom: 150px;
   
}

.mails{
    display: flex;
    flex-direction: column;
    width: 430px;
    margin-left: 200px;
    margin-right: 40px;
    margin-top: 40px;
    
    
}
.mails p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    
}
.mails p:hover{
    font-weight: bold;
}
.hocke{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 200px;
    transition: 400ms;
    box-shadow: 10px 10px 15px #000000

}

.hocke:hover{
    opacity: 0.3;
}
.reglas{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.items{
    margin-left: 20px;

}
/*Css para game*/
main .tit_secundario{
    text-align: center;
}
.saturday{
    padding: 20px;
    text-decoration: underline;
}
.fecha_eventos{
    display:table;
    align-items: center;
    background-color: rgb(114, 173, 232);
    width: 60vw;
    height: 30vh;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 300px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.facility{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: center;
    margin-left:100px;
    margin-bottom: 80px;
    font-size: 20px;
}






















   